body {
    position: relative;
    background-image: url("../images/gym2.jpeg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}

.header {
    margin-top: 1vh;
}

.stats, .stage {
    min-height: 20vh;
    margin-bottom: 1vh; 
}

#stats-body {
    overflow: scroll;
    max-height: 35vh;
}
#title {
    text-decoration: underline;
}