body {
    position: relative;
    background-image: url("../images/gym2.jpeg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}

#exercise-body {
    overflow: scroll;
    max-height: 30vh;
}

.header {
    margin-top: 1vh;
}

.jumbotron {
    max-height: 18vh;
}

.stats, .stage {
    min-height: 20vh;
    margin-bottom: 1vh; 
    max-width: 100vw;
}


#stats-body {
    overflow: scroll;
    max-height: 30vh;
}
#title {
    text-decoration: underline;
}

table {
    width: 100%;
    margin: 0 auto;

}
